h1, footer, div, ul, p, h2, h3, h4{
    /* border: solid black; */
    font-family: futura;
}

h1{
    margin-bottom: 45px;
}

.everyone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.round{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 300px;
    height: 50px;
    text-align: center;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 2px;

}

.player_buttons, .computer_buttons{
    display: flex;
    gap: 20px;
    margin-top: 5px;

}

button:active{
    background-color:aquamarine;
    transform: scale(1.2);
}

button{
    width: 100px;
    height: 150px;
}

h1, h2, h3{
    text-align: center;
    font-weight: lighter;
}

 .playerimage, .computerimage{
    width: 70px;
    height: 70px;
    /* padding: 30px; */
    padding: 20px 8px 20px 8px;
    /* border: 1px solid black; */
    transition: all .3s ease-in-out;
    /* box-shadow: 4px 3px 10px rgb(0 0 0 / 0.4); */
}
.profile{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    transition: all .3s ease-in-out;
}

.playerimage:hover{
    transform: scale(1.7) rotate(0.01deg);
}

.scores{
    display: flex;
    justify-content: center;

}

button{
    width:100px;
    height: 40px;
    background-color: transparent;
    /* display: none; */
}

button:active{
    background-color: transparent;
}

.profile{
    margin-bottom: 5px;
}